//Class Bootstrap
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";

//Variables individuales
$colot-testimonio: #85654e;

//Colors
$custom-colors: (
    'color-theme': #212529,
    'color-white': #fff
);

//Merge the Colors
$theme-colors: map-merge($theme-colors, $custom-colors);